<div data-ng-controller="ProcessOrderController as process">
  <h2>OIP Order #{{process.oipOrderId}} - Remote Order #{{process.remoteOrderId}}</h2>
  <div class="col-sm-6">
    <p
    class="help-block"
    data-ng-show="!process.requestError && !process.requestSuccess">
    Please wait while your payment is processed .... </p>

    <p
    class="help-block"
    data-ng-show="!process.requestError && process.requestSuccess">
    The payment was successful, you will be redirected to the thank you page in 3 seconds.</p>
    <p
    class="help-block"
    data-ng-show="process.requestError">
    An error has occured during the request, you will be redirected to the error page in 3 seconds.</p>
  </div>
</div>
