<div data-ng-controller="SorryController as sorry">
  <h2>Sorry</h2>
  <div class="col-sm-6">
    <p>We are sorry to inform you that your payment failed. Please use the link below to try again.</p>
    <a class="btn btn-primary" data-ng-href="{{sorry.oipOrderCreatePaymentUrl}}"> Pay for your invoice</a>
  </div>
</div>
