<div data-ng-controller="ThankYouController as thankYou">
  <h2>Thank you</h2>
  <div class="col-sm-6">
    <p>We are happy to confirm that your payment of {{oipOrderId}} order has been successful.</p>
    <a class="btn btn-primary" data-ng-href="{{thankYou.oipOrderCreatePaymentUrl}}"> Pay for another invoice</a>
  </div>
</div>
