<div data-ng-controller="PaymentFormController as paymentForm">
  <h2>Payment Form - OIP Order #{{paymentForm.oipOrderId}} </h2>
  <div class="col-sm-6">
    <form novalidate name="oipPaymentForm" class="simple-form">

      <!-- Account Number -->
      <div class="form-group"
        data-ng-class="{ 'has-error' : oipPaymentForm.accountNumber.$invalid
        && !oipPaymentForm.accountNumber.$pristine }">
        <label>* Account Number</label>
        <input
        type="text"
        name="accountNumber"
        class="form-control"
        required
        data-ng-model="paymentForm.accountNumber"
        data-ng-maxlength="10"
        data-oip-alphanumeric
        />
        <p
        class="help-block"
        data-ng-show="oipPaymentForm.accountNumber.$invalid
        && !oipPaymentForm.accountNumber.$pristine"
        >
        Please enter a valid account number</p>
      </div>

      <!-- Account Name -->
      <div class="form-group">
        <label>Account Name</label>
        <input
        type="text"
        name="accountName"
        class="form-control"
        data-ng-model="paymentForm.accountName"
        />
      </div>

      <!-- Account Number -->
      <div
        class="form-group"
        data-ng-class="{ 'has-error' : oipPaymentForm.invoiceNumber.$invalid
        && !oipPaymentForm.invoiceNumber.$pristine }">
        <label>* Invoice Number</label>
        <input
        type="text"
        name="invoiceNumber"
        class="form-control"
        data-ng-model="paymentForm.invoiceNumber"
        required/>
        <p
        class="help-block"
        data-ng-show="oipPaymentForm.invoiceNumber.$invalid
        && !oipPaymentForm.invoiceNumber.$pristine">
        Please enter a valid invoice number</p>
      </div>

      <!-- Net Amount -->
      <div
        class="form-group"
        data-ng-class="{ 'has-error' : oipPaymentForm.netAmount.$invalid
        && !oipPaymentForm.netAmount.$pristine }">
        <label>* Net Amount</label>
        <input
        type="text"
        name="netAmount"
        class="form-control"
        required
        data-ng-model="paymentForm.netAmount"
        data-ng-change="paymentForm.updateGrossAmount()"
        data-oip-number-max-two-digits
        />
        <p
        class="help-block"
        data-ng-show="oipPaymentForm.netAmount.$invalid
        && !oipPaymentForm.netAmount.$pristine">
        Please enter a valid Net amount</p>
      </div>

      <!-- VAT Amount -->
      <div
        class="form-group"
        data-ng-class="{ 'has-error' : oipPaymentForm.vatAmount.$invalid
        && !oipPaymentForm.vatAmount.$pristine }">
        <label>* VAT amount</label>
        <input
        type="text"
        name="vatAmount"
        class="form-control"
        required
        data-ng-model="paymentForm.vatAmount"
        data-ng-change="paymentForm.updateGrossAmount()"
        data-oip-number-max-two-digits
        />
        <p
        class="help-block"
        data-ng-show="oipPaymentForm.vatAmount.$invalid
        && !oipPaymentForm.vatAmount.$pristine">
        Please enter a valid VAT amount</p>
      </div>

      <!-- Gross Amount -->
      <div
        class="form-group"
        data-ng-class="{ 'has-error' : oipPaymentForm.grossAmount.$invalid
        && !oipPaymentForm.grossAmount.$pristine }">
        <label>* Gross amount</label>
        <input
        type="text"
        name="grossAmount"
        class="form-control"
        required
        data-ng-model="paymentForm.grossAmount"
        data-ng-disabled="true"
        />
        <p
        class="help-block"
        data-ng-show="paymentForm.grossAmount.$invalid
        && !paymentForm.grossAmount.$pristine">
        Please enter a valid Gross amount. This amount cannot be paid using the online tool</p>
      </div>

      <p
      class="help-block"
      data-ng-model="paymentForm.requestError"
      data-ng-show="oipPaymentForm.requestError">
      An error has occured during the request, please retry later. </p>

      <button
        type="submit"
        class="btn btn-primary"
        data-ng-disabled="paymentForm.$invalid"
        data-ng-click="paymentForm.submitValidPaymentForm()"
        >Submit valid request
      </button>

      <button
        type="submit"
        class="btn btn-danger"
        data-ng-disabled="paymentForm.$invalid"
        data-ng-click="paymentForm.submitInvalidPaymentForm()"
        >Submit invalid request
      </button>
    </form>
  </div>
</div>
